@import 'normolize'
@import 'elements'
@import 'header'
@import 'slick'

.hero
    padding-bottom: 35px
    form
        width: 410px
        padding: 24px
        border-radius: 24px
        background: #FFF
        .btn
            width: 100%
            margin-bottom: 16px

    &-slider
        overflow: hidden
        border-radius: 24px
        margin: 0
        width: calc( 100% - 431px )

    &-slide
        display: none
        position: relative
        background-size: cover
        height: 498px
        border-radius: 24px
        margin: 18px 0 0
        z-index: 1

        &:first-child
            display: block

        &::before
            content: ''
            display: inline-block
            width: 100%
            height: 100%
            z-index: -1
            position: absolute
            top: 0
            left: 0
            background-image: url('../img/bg_dots.svg')
            background-repeat: no-repeat
            background-position: center center
            opacity: .7
            mix-blend-mode: soft-light

        img
            position: absolute
            bottom: 0
            right: 20px
            max-height: calc( 100% + 18px )

    &-title
        position: absolute
        color: #fff
        bottom: 23px
        left: 22px
        z-index: 1000

    &__heading
        font-size: 24px
        font-style: normal
        font-weight: 500
        margin: 0 0 4px

    &__text
        font-size: 18px
        font-style: normal
        font-weight: 500

.about
    &-content
        width: 50%
    &-img
        width: 48%
        object-fit: contain
        display: block
    h2
        margin-bottom: 28px

    p
        font-size: 20px
        font-style: normal
        font-weight: 400

    &__text
        margin-bottom: 28px
        color: #5B5B5B

    &-item
        width: 100%
        padding: 18px 24px
        border-radius: 18px
        border: 1px solid rgba(91, 91, 91, 0.05)
        background: #FFF
        margin-bottom: 18px
        gap: 10px

.direction
    h2
        width: 100%
        margin-bottom: 42px

    &__img
        position: absolute
        top: 0
        right: 0
        height: 100%
        max-width: 60%
        object-fit: contain
        z-index: -1
        object-position: center bottom

    &-item
        position: relative
        overflow: hidden
        z-index: 1
        min-height: 335px
        width: 48%
        max-width: 583px
        color: #fff
        background-color: #4BB143
        border-radius: 20px
        padding: 22px 30px 30px 30px
        margin-bottom: 42px
        &::before
            content: ''
            display: block
            width: 100%
            height: 100%
            position: absolute
            z-index: -11
            background-image: url('../img/bg_dots.svg')
            background-repeat: no-repeat
            background-position: top 60px left
            mix-blend-mode: soft-light
            opacity: .2

        &::after
            content: ''
            display: block
            width: 100%
            height: 87px
            background: linear-gradient(180deg, rgba(75, 177, 67, 0.70) 1.14%, rgba(255, 255, 255, 0.70) 269.94%)
            position: absolute
            bottom: 0
            left: 0
            z-index: -1111

        .wrap
            width: 64%
            max-width: 322px
            gap: 20px
            justify-content: flex-start

    &__heading
        width: 64%
        max-width: 322px
        font-size: 32px
        font-style: normal
        font-weight: 500
        margin: 0 0 30px

    .tag
        text-align: center
        display: inline-block
        font-size: 15px
        font-style: normal
        font-weight: 400
        color: #5B5B5B
        padding: 8px 15px 7px
        border-radius: 18px
        background: #EAEAEA
        box-shadow: 0px 0px 0.89673px 0px #FFF, 0px 0px 1.79346px 0px #FFF, 0px 0px 6.27711px 0px #FFF, 0px 0px 12.55423px 0px #FFF

    &-flow
        width: 48%
        max-width: 583px
        text-align: center
        align-self: center
        img
            display: block
            margin: 0 auto 12px

.values

    &-item
        width: 32%
        border-radius: 24px
        overflow: hidden
        min-height: 498px
        display: inline-flex
        flex-direction: column
        justify-content: flex-end
        position: relative
        z-index: 1
        padding: 16px
        &::before
            content: ''
            display: block
            width: 100%
            height: 50%
            background: linear-gradient(0deg, #F2F2F2 39.81%, rgba(242, 242, 242, 0.00) 100%)
            position: absolute
            bottom: 0
            left: 0
            z-index: -1
        p
            margin: 0
        span
            display: inline-block
            font-size: 16px
            font-style: normal
            font-weight: 400
            border-radius: 48px
            color: #fff
            padding: 4px 12px
            margin: 0 5px 8px 0

    &__heading
        font-size: 24px
        font-style: normal
        font-weight: 500
        margin: 0 0 8px

    &__img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 95%
        object-fit: cover
        object-position: center center
        z-index: -111
